
{% extends 'layout.html.twig' %}





{% block contenue %}

<div style="margin-top : 20ex">
    <h1>Editer Produit</h1>

    {{ include('products/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('products_index') }}">back to list</a>

    {{ include('products/_delete_form.html.twig') }}
</div>

{% endblock %}
