
{% extends 'layout.html.twig' %}





{% block contenue %}
<div style="margin-top :20ex">
    <h1>Creer Produits</h1>

    {{ include('products/_form.html.twig') }}

    <a href="{{ path('products_index') }}">retour à la page precedente</a>
</div>

{% endblock %}
